:root {
  /* ------ Colors ------ */
  --textColorDark: #000;
  --textColorLight: #979797;

  --borderColor: #D7D7D7;

  --buttonColor: #000;

  /* ------ Font ------ */
  --brandFont: "Roboto", Arial, sans-serif;
  --copyFont: "Source Sans Pro", Arial, sans-serif;

  --copyFontLight: 400;
  --copyFontHeavy: 600;

  --fontSizeMini: 12px;
  --fontSizeSmall: 14px;
  --fontSizeMedium: 16px;
  --fontSizeXM: 18px;
  --fontSizeLarge: 40px;
  --fontSizeXL: 52px;


  /* ------ Spacing ------ */
  --spacingMini: 8px;
  --spacingSmall: 16px;
  --spacingMedium: 24px;
  --spacingLarge: 32px;
  --spacingXL: 40px;
  --spacingXXL: 48px;


  /* ------ Content ------ */
  --contentMaxWidth: 1200px;
  --contentMaxWidthSmall: 900px;


  /* ------ Misc ------ */
  --sidebarWidth: 300px;
}
